/** NimbusKit */

#projectname,
#projectbrief,
.header .ingroups code {
  font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
}

.header .ingroups code {
  font-size: 13px;
}

#projectname {
  font-size: 215%;
  margin: 0px;
  padding: 0;
}

#titlearea {
  border-bottom: 0;
  padding-top: 15px;
  height: 100px;
}

#projectname .links {
  font-size: 50%;
}

#projectbrief {
  font-size: 13px;
  padding-bottom: 10px;
}

#doc-content {
  margin-left: 260px;
}

#titlearea,
#side-nav {
  width: 260px;
  background-color: ghostwhite;
  position: fixed;
}

.contents .attention {
  margin-left: 0px;
  border-left: 5px solid #e87272;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1em;
  background-color: #fcf2f2;
}

.contents .attention h5 {
  margin: 0;
  display: none;
}

.contents .attention p:last-child {
  margin-bottom: 0;
}

#side-nav {
  padding: 0;
}

#side-nav {
  top: 100px;
}

#nimbus_icon {
  float: left;
  margin: 10px 15px;
  background: transparent url('nimbus_off.png');
  background-size: 69px 79px;
  width: 69px;
  height: 79px;
  margin-top: -5px;
}

#nimbus_icon:hover {
  background-image: url('nimbus_on.png');
}

#nav-tree {
  border-right: none;
  padding-left: 15px;
}

.clearfix {
  clear: both;
}

.image {
  margin: 20px;
}

table.modificationtable {
  border: 1px #888 solid;
  padding: 2px;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-left: 40px;
  margin-top: 7px;
}

table.modificationtable th {
  font-size: 10px;
  text-align: center;
  background-color: #EEE;
  border: 1px #888 solid;
  padding: 3px 6px;
  font-weight: bold;
}

table.modificationtable td {
  font-size: 90%;
  border: 1px #888 solid;
  padding: 3px 6px;
  text-align: left;
  font-family: courier, monospace;
}

.apiDiffAdded {
  font-style: italic;
  font-size: 80%;
  color: blue;
}

.apiDiffModified {
  font-style: italic;
  font-size: 80%;
  color: #080;
}

.apiDiffRemoved {
  font-style: italic;
  font-size: 80%;
  color: red;
}

.apiDiffFeature {
  font-style: italic;
  font-size: 80%;
  color: orange;
}

.apiDiffBugfix {
  font-style: italic;
  font-size: 80%;
  color: black;
}

.contributor_profile {
  padding: 5px;
  margin: 0 5px;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  background-color: #FFF;
  float: left;
}

.contributor_profile .retired {
  opacity: 0.5;
}

.contributor_profile .name {
  margin-top: 0.2em;
  text-align: center;
  width: 135px;
}

.contributor_profile .role {
  text-align: center;
  color: #888;
  margin-bottom: 0.3em;
}

.contributor_profile .twitter,
.contributor_profile .github {
  text-align: center;
}

blockquote {
  margin-left: 0;
  border-left-width: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

h3 {
  font-size: 120%;
  color: #883D1E;
  font-weight: normal;
}

#github {
  float: right;
  margin-top: 20px;
}

#github .issues {
  color: #AAA;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #EEE;
  font-size: 2em;
}

#github .issues.no-issues {
  background-color: #C9FFD4;
}

#github .issues.few-issues {
  background-color: #FFFFC9;
}

#github .issues.many-issues {
  background-color: #FFC9C9;
}
